.chat header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.messages{
    display: flex;
    flex-direction: column;
    height: 86vh;
    overflow-y:auto;
    overflow-x: hidden;
}

.messageUser p, .messageFriend p{
    max-width: 80%;
    border-radius: 15px;
    background: #0056b3;
    margin: 1%;
    font-size: 1.7em;
    float: right;
    padding: 8px;
    overflow-wrap: break-word;
}

.messageFriend p{
    float: left;
}

.inputMessage{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding:2px 1%;
    margin:1% 10%;
    border-radius: 10px;

}

.inputMessage input{
    border:none;
    outline: none;
    background: none;
    font-size: 1.5em;
}

.inputMessageText{
    width: 100%;
}