.changeDataBtn{
    text-decoration: none;
    color: black;
    border-radius: 15px;
    border:2px solid black;
    padding: 5px 10px;
}

.btnLogout{
    background: red;
    border-radius: 15px;
    border:2px solid #af0202;
    font-size: 1.5em;
    padding: 5px 10px;
}

.userImg{
    width: 10em;
}

.profile{
    display: flex;
    flex-direction: column;
}

.userActions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    display: flex;
    justify-content: space-between;
}

.categories{
    display: flex;
    overflow-x: auto;
}

.category{
    width: 12em;
    padding: 1%;
}

.categoriesRating{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}