* {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: linear-gradient(#919090, #313030);
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: #38383a;
  border-radius: 20px;
}
